.layout-shop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(89, 17, 146, 1) 0%, rgba(13, 24, 84, 1) 100%);

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("@/assets/images/default_background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: -1;
  }
}

.shop {
  height: 100%;
  overflow-y: scroll;

  &-header {
    position: sticky;
    top: 0; // position sticky 需要設定 top
    z-index: 1;

    &-banner {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 3rem;
      background: linear-gradient(180deg, rgba(89, 17, 146, 1) 0%, rgba(13, 24, 84, 1) 100%);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("@/assets/images/shop/banner_bg.png");
        background-size: 100% 4rem;
        background-position: left -1rem;
        background-repeat: no-repeat;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0.25rem;
        right: 1.1rem;
        display: block;
        width: 2.28rem;
        height: 2.75rem;
        background-image: url("@/assets/images/shop/banner_person.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }

      &-right {
        &:before {
          content: "";
          position: absolute;
          top: -0.6rem;
          right: 0.65rem;
          display: block;
          width: 4rem;
          height: 3rem;
          background-image: url("@/assets/images/shop/banner_bg2.png");
          background-size: 100%;
          background-repeat: no-repeat;
          z-index: 1;
        }
      }

      &-left {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: bolder;
        font-size: 0.5rem;
        &-back {
          position: absolute;
          left: 0.35rem;
          top: 0.35rem;
          display: block;
          width: 0.7rem;
          height: 0.7rem;
          background-image: url("@/assets/images/shop/back.svg");
          background-size: 100%;
          background-repeat: no-repeat;
        }

        //&::before {
        //  content: "";
        //  position: absolute;
        //  left: 0.35rem;
        //  top: 0.35rem;
        //  display: block;
        //  width: 0.7rem;
        //  height: 0.7rem;
        //  background-image: url("@/assets/images/shop/illustrate.svg");
        //  background-size: 100%;
        //  background-repeat: no-repeat;
        //}
      }
    }

    &-info {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 1.3rem;
      background: linear-gradient(180deg, rgba(235, 196, 255, 1) 0%, rgba(245, 80, 238, 1) 50%, rgba(158, 52, 244, 1) 100%);

      &-middle {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(242, 241, 215, 1) 0%, rgba(233, 156, 96, 1) 50%, rgba(255, 193, 109, 1) 100%);
        transform: translate(-50%, -50%);

        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 1.1rem;
          height: 1.1rem;
          border-radius: 50%;
          background: #3E1343;
        }
      }

      &-level {
        position: relative;
        width: 0.85rem;
        height: 0.85rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.4rem;
        font-weight: bolder;
        border: 0.02rem dashed #FFFFFF;
        border-radius: 50%;
        color: #FFFFFF;
        z-index: 1;
      }

      &-right, &-left {
        //width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 0.1rem;
        padding-bottom: 0.05rem;
        padding-left: 0.75rem;
        padding-right: 0.25rem;
      }

      &-amount {
        margin: -0.5rem 0;
        color: #FFEA7A;
        font-size: 0.35rem;
        font-weight: bolder;
        text-shadow: -1px -1px 0 #000, /* 左上 */
        1px -1px 0 #000, /* 右上 */
        -1px 1px 0 #000, /* 左下 */
        1px 1px 0 #000; /* 右下 */
      }

      &-tip {
        color: #FFEA7A;
        font-size: 0.25rem;
      }

      &-left {
        display: flex;
        flex-direction: column;
        //display: grid;
        //grid-template-rows: 58% 42%;

        div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;

          &:nth-child(1) {
            height: 58%;
            color: #FFE079;
            font-size: 0.35rem;
            background: linear-gradient(180deg, rgba(202, 160, 255, 1) 0%, rgba(116, 77, 247, 1) 25%, rgba(110, 7, 219, 1) 50%, rgba(102, 27, 167, 1) 75%, rgba(186, 63, 201, 1) 100%);
          }

          &:nth-child(2) {
            height: 42%;
            font-size: 0.25rem;
            background: linear-gradient(112deg, rgba(249, 152, 0, 1) 0%, rgba(255, 232, 204, 1) 35%, rgba(249, 152, 0, 1) 50%, rgba(255, 218, 160, 1) 65%, rgba(249, 152, 0, 1) 77%);
            //background: linear-gradient(112deg, rgba(249, 152, 0, 1) 0%, rgba(255, 232, 204, 1) 34%, rgba(249, 152, 0, 1) 50%, rgba(255, 218, 160, 1) 65%, rgba(249, 152, 0, 1) 100%);
          }
        }
      }
    }
  }

  &-main {
    padding: 0.25rem 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &-item {
      display: grid;
      grid-template-rows: 65% 35%;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0.3rem;
        padding-right: 0.3rem;

        .q-img {
          margin-top: 0.2rem;
          min-width: 0.8rem;
          min-height: 0.5rem;
        }

        &-info {
          display: flex;
          align-items: center;

          &-amount {
            padding: 0 0.25rem;
            font-weight: bolder;

            &-decoration {
              font-size: 0.28rem;
              color: #BA85DB;
              text-decoration: line-through;
            }

            &-final {
              margin-top: -0.08rem;
              font-size: 0.43rem;
              background: linear-gradient(180deg, rgba(255, 236, 0, 1) 0%, rgba(231, 174, 0, 1) 100%);
              -webkit-background-clip: text; /* 只裁剪到文字內 */
              -webkit-text-fill-color: transparent; /* 使文字透明以顯示背景 */
            }
          }
        }

        &-btn {
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            //padding-bottom: 0.05rem;
            //width: 2rem;
            //height: 0.85rem;
            padding-bottom: 0.15rem;
            width: 2.05rem;
            height: 0.9rem;
            font-size: 0.38rem;
            font-weight: bolder;
            color: white; /* 設置文字顏色 */
            text-shadow: -1px -1px 0 #09810E, /* 左上陰影 */
            1px -1px 0 #09810E, /* 右上陰影 */
            -1px 1px 0 #09810E, /* 左下陰影 */
            1px 1px 0 #09810E; /* 右下陰影 */
            background-image: url("@/assets/images/shop/shop_btn.png");
            //background-size: 2rem 0.85rem;
            background-size: 2.05rem 0.9rem;
            background-repeat: no-repeat;
            transform: translateX(-0.05rem);
          }
        }
      }

      &-bottom {
        //width: 7.05rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        padding: 0 0.3rem;
        border-radius: 0 0 12px 12px;
        background: radial-gradient(circle, rgba(50, 20, 89, 1) 0%, rgba(76, 16, 130, 1) 100%);
        max-width: 97%; // 暫時這樣解不明原因突出的問題 主要是top padding
        &-tip {
          color: #A566F4;
          font-size: 0.26rem;
          font-weight: bolder;
        }

        &-vip, &-gem {
          display: flex;
          align-items: center;
          color: #FFFFFF;
          font-size: 0.28rem;
          font-weight: bold;
          gap: 0.05rem;
        }

        &-vip {
          margin-right: 0.15rem;

          .q-img {
            margin-top: 0.12rem;
            width: 0.5rem;
            height: 0.5rem;
          }
        }

        &-gem {
          .q-img {
            width: 0.32rem;
            height: 0.42rem;
            margin-right: 0.05rem;
          }
        }
      }
      &-wrap {
        transform: translate(-105%);
        //animation: slideRight var(--animation-duration) forwards;
        &-enters {
          animation: slideRight var(--animate-duration) var(--animation-delay) forwards;
        }
        &-leaves {
          transform: translate(0);
          //animation: slideRightLeaves var(--animate-duration-leave) calc(var(--i) * 0.3)s forwards;
          animation: slideRightLeaves var(--animate-duration-leave) var(--animation-duration-leave-delay) forwards;
          //animation: slideRightLeaves var(--animation-duration) forwards;
        }
      }
    }

    @keyframes slideRight {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      80% {
        opacity: 1;
        transform: translateX(5%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    @keyframes slideRightLeaves {
      0% {
        opacity: 1;
        transform: translateX(0);
      }
      100% {
        opacity: 0;
        transform: translateX(-105%);
      }
    }
  }
}
